body{
    font-family:  Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    font-size: 18px;
}
.container{
    margin: 0 auto;
    overflow: auto;
    width: 960px;
}
header{
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-top:10px;
}
nav{
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.box{
   overflow: auto;
   margin-bottom: 20px;
}
section{
    background-color: #ebebeb;
    width: 495px;
    float:left;
    padding-top: 20px;
    height: 220px;
    text-align:center;
}
section p{
    padding: 10px;
}
aside{
    background-color: #ebebeb;
    width: 440px;
    float:right;
    padding-top: 20px;
    text-align: center;
    height: 220px;
}
article{
    color: #ebebeb;
    background-color: #777;
    text-align: center; 
    width: 480px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 50px;
    
}
#heading{
    color: #777;
    background-color: #ebebeb;
    padding:10px;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 10px;

}
#paragraph{
    color: #777;
    background-color: #ebebeb;
    padding: 10px;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 10px;
}
footer{
    clear:both;
    background-color:  #ebebeb;
    text-align: center;
    padding: 20px;
}